.container {
  width: var(--circle-size);
  height: var(--circle-size);
}

.outer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  border-radius: 50%;
}

.inner {
  width: 40%;
  height: 40%;
  margin: auto;
  background: white;
  border-radius: 50%;
}

.icon {
  display: flex;
  position: absolute;
  padding: 8px;
  color: #ccc;
  user-select: none;
}

.playPauseIcon {
  top: calc(85% - 8px);
  left: calc(50% - 20px);
}

.menuIcon {
  top: calc(15% - 24px);
  left: calc(50% - 29px);
}

.backwardIcon {
  top: calc(50% - 18px);
  left: calc(15% - 28px);
  transform: rotate(180deg);
}

.forwardIcon {
  top: calc(50% - 18px);
  left: calc(85% - 8px);
}
